:root {
    --bg: #004ba0;
    --text: #eceff4;
    --accent: #88c0d0;
    --button: #5e81ac;
    --button-hover: #49688d;
    --input: #00000055;
    --input-text: #eceff4;
    --danger: #bf616a;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin-top: 120px;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

body::before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.08;
    z-index: -1;
    /* The image used */
    background-image: url("https://upnewlands.me/src/images/pattern_6.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

a {
    text-decoration: none;
}

/* Game */


.game {
    width: 100%;
    height: 100%;
    min-width: 500px;
    max-width: 1100px;
    margin: -0 auto;
}

.game input {
    background: none !important;
}
